/*THUMBNAIL IMAGES*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.fb{
	background: url('../assets/_thumbnails/thumb-01fb.jpg');
}

.bryant{
	background: url('../assets/_thumbnails/thumb-02bryant.jpg');
}

.bwm{
	background: url('../assets/_thumbnails/thumb-03bwm.jpg');
}

.sober{
	background: url('../assets/_thumbnails/thumb-04NHTSA-sober.jpg');
}

.smo{
	background: url('../assets/_thumbnails/thumb-05smo.jpg');
}

.bsm{
	background: url('../assets/_thumbnails/thumb-06bsm.jpg');
}

.type{
	background: url('../assets/_thumbnails/thumb-07type.jpg');
}

.ciot{
	background: url('../assets/_thumbnails/thumb-08NHTSA-ciot.jpg');
}

.cosd{
	background: url('../assets/_thumbnails/thumb-09cosd.jpg');
}

.sjh{
	background: url('../assets/_thumbnails/thumb-10sjh.jpg');
}

.dash{
	background: url('../assets/_thumbnails/thumb-11dash.jpg');
}

.plumb{
	background: url('../assets/_thumbnails/thumb-12plumb.jpg');
}

.postmodrn{
	background: url('../assets/_thumbnails/thumb-13postmodern.jpg');
}

.texting{
	background: url('../assets/_thumbnails/thumb-14texting.jpg');
}

.seeds{
	background: url('../assets/_thumbnails/thumb-15seeds.jpg');
}

.amy{
	background: url('../assets/_thumbnails/thumb-16amy.jpg');
}

/*LAYOUT*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
html, body{
	height:100%;
}

.content{
	width:100%;
}

.thmb{
	width:25%;
	padding-bottom:25%;
	position:relative;
	float:left;
	overflow: hidden;
	background-size: 100% 100%;
}

.inner-thmb{
	position:absolute;
}

img{
	width:100%;
}

/* X-SML SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 240px){
	.thmb{
		width:100%;
		padding-bottom:100%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 240px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 240px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 240px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 240px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 240px),
only screen and (                min-resolution: 192dpi) and (min-width: 240px),
only screen and (                min-resolution: 2dppx)  and (min-width: 240px) {
	.thmb{
		width:100%;
		padding-bottom:100%;
	}
}


/* SMALL SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 320px){
	.thmb{
		width:50%;
		padding-bottom:50%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {
	.thmb{
		width:50%;
		padding-bottom:50%;
	}
}

/* SML-MD SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 480px){
	.thmb{
		width:33.333333333%;
		padding-bottom:33.333333333%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 480px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (                min-resolution: 192dpi) and (min-width: 480px),
only screen and (                min-resolution: 2dppx)  and (min-width: 480px) {
	.thmb{
		width:33.333333333%;
		padding-bottom:33.333333333%;
	}
}


/* MEDIUM SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 780px){
	.thmb{
		width:25%;
		padding-bottom:25%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 780px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 780px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 780px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 780px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 780px),
only screen and (                min-resolution: 192dpi) and (min-width: 780px),
only screen and (                min-resolution: 2dppx)  and (min-width: 780px) {
	.thmb{
		width:25%;
		padding-bottom:25%;
	}
}


/* MD-LG SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 1040px){
	.thmb{
		width:20%;
		padding-bottom:20%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1040px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 1040px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1040px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1040px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1040px),
only screen and (                min-resolution: 192dpi) and (min-width: 1040px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1040px) {
	.thmb{
		width:20%;
		padding-bottom:20%;
	}
}


/* LG SCREEN */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Normal Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (min-width: 1300px){
	.thmb{
		width:16.666666667%;
		padding-bottom:16.666666667%;
	}
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
High Res
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
	.thmb{
		width:16.666666667%;
		padding-bottom:16.666666667%;
	}
}